html {
	font-size: 16px;
    font-family: arial;
}

body {
	background-color: rgb(109, 177, 174);
}

.container {
	max-width: 450px;
	height: auto;
	background-color:rgba(214, 214, 214, 0.836);
	margin: 5% auto;
	padding-bottom: 1rem;
	
}

.form__top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem rgba(119, 207, 163, 0.836);
	margin-bottom: 1rem;
}

.form__top h2 {
	font-weight: bold;
	color: #CAC8C8;
	font-size: 20px;
}
h4 span {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 2px black;
}
h2 span {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 2px black;
}

.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.input, .btn__submit, .btn__reset{
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}

.input:focus {
	border-bottom: solid rgba(119, 207, 163, 0.836) .2rem;
}

.btn__submit, .btn__reset {
	width: 40%;
	border-bottom: none;
	background-color: rgba(119, 207, 163, 0.836);
	color: white;
}

.btn__reset {
	background-color: #EDA135;
	width: 200px;
}

.btn__submit:hover {
	background-color:  rgba(8, 119, 65, 0.836);
}

.btn__reset:hover{
	background-color: rgb(133, 69, 9);
}