* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

html,
body {
    height: 100vh;
    background: rgb(155, 196, 194);
    margin: 0;
    padding: 0;
}

span {
    width: 100%;
    font-weight: bold;
}

.horizontal {
    display: flex;
    justify-content: center;
}

.vertical2 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.divPadre {
    height: 30vh;
}

.encabezado {
    background-color: transparent;
    background: url('../img/ban1.png');
    width: 743px;
    height: 127px;
    margin-top: 50px;
    font-family: arial;
    font-size: auto;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.box {
    display: flex;
    min-height: 100%;
}

.box>div {
    flex: 1;
    display: flex;
}

.fila0 {
    background: transparent;
}

.fila1 {
    background: transparent;
}

h1 {
    font-size: 250%;
}

.imagen {
    position: center;
}

.imagen:hover {
    filter: blur(5px);
}

.contenedor {
    display: block;
    position: relative;
    margin-right: 0px;
    top: 0px;
    width: 100%;
    max-height: 50%;
    overflow: hidden;
    color: #fff;
    font-family: arial;
    text-align: center;
}

.contenedor h1 {
    margin: 100px 0px 0px 40px;
    position: absolute;
    left: 0px;
    top: 30px;
    transform: translateX(-130%);
    transition: all .5s ease;
}

.contenedor p {
    margin: 90px 0px 0px 40px;
    position: absolute;
    left: 0px;
    top: 100px;
    transform: translateX(0%);
    transition: all .4s ease;
}

.contenedor:before {
    position: absolute;
    top: 335px;
    left: 20px;
    content: "";
    width: 0%;
    height: 3px;
    background: #fff;
    transition: all .3s ease;
}

.contenedor:after {
    position: absolute;
    top: 10px;
    right: 20px;
    content: "";
    width: 0%;
    height: 3px;
    background: #fff;
    transition: all .3s ease;
}

.contenedor:hover:before {
    width: 90%;
}

.contenedor:hover:after {
    width: 90%;
}

.contenedor:hover h1,
.contenedor:hover p {
    transform: translateX(0%);
    transition: all .3s ease;
}

.contenedor:hover {
    background-size: 110% 110%;
    transition: all .5s ease;
}